div[data-testid="stSidebar"] button {
    all: unset;
    position: relative;
    width: 100%;
    height: 56px;
    margin-bottom: 12px;
    padding-left: 64px;

    display: flex;
    align-items: center;

    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    color: white;

    background: #bfbfbf;
    cursor: pointer;

    transition: background 0.35s ease, filter 0.2s ease;
}

div[data-testid="stSidebar"] button.active {
    background: linear-gradient(90deg, #ef4444, #b91c1c);
    box-shadow: 0 10px 25px rgba(185, 28, 28, 0.45);
}

div[data-testid="stSidebar"] button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 8px;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;

    transform: translateY(-50%);
    transition: left 0.55s cubic-bezier(0.22, 1, 0.36, 1);
}

div[data-testid="stSidebar"] button.active::before {
    left: calc(100% - 48px);
}
