/* Esconde o radio padrão */
div[role="radiogroup"] {
    display: none;
}

/* Botão custom */
.menu-btn {
    width: 100%;
    background: #ef3b3b;
    color: white;
    padding: 14px;
    margin: 12px 0;
    border-radius: 999px;
    text-align: center;
    font-weight: 600;
    box-shadow: 0 0 20px rgba(239, 59, 59, 0.5);
    user-select: none;
}

/* Ativo */
.menu-btn.active {
    background: #d92b2b;
    box-shadow: 0 0 28px rgba(239, 59, 59, 0.8);
}

