/* Container das tabs */
div[data-testid="stTabs"] {
    width: 100%;
}

/* Lista das abas */
div[data-testid="stTabs"] > div:first-child {
    display: flex;
    width: 100%;
}

/* Cada aba */
div[data-testid="stTabs"] button {
    flex: 1;                     /* DISTRIBUI IGUAL */
    text-align: center;
    justify-content: center;
    font-weight: 600;
}

/* Aba ativa */
div[data-testid="stTabs"] button[aria-selected="true"] {
    border-bottom: 3px solid #ef3b3b;
}
