/* Container que agrupa o botão para podermos colorir o ativo */
.btn-container {
    margin-bottom: -10px; /* Remove o espaçamento excessivo entre botões */
}

/* Estilo de todos os botões da Sidebar */
[data-testid="stSidebar"] div.stButton > button {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important; /* Alinhamento à esquerda */
    width: 100% !important;
    height: 60px !important;
    border-radius: 30px !important;
    border: none !important;
    color: white !important;
    background: linear-gradient(90deg, #bdc3c7, #8e9eab) !important; /* Cinza */
    padding-left: 25px !important;
    transition: all 0.3s ease !important;
}

/* Efeito ao passar o mouse */
[data-testid="stSidebar"] div.stButton > button:hover {
    transform: scale(1.02);
    opacity: 1;
}

/* A COR DO BOTÃO ATIVO */
/* Quando o botão está dentro da div 'btn-ativo', ele vira vermelho */
.btn-ativo div.stButton > button {
    background: linear-gradient(90deg, #e52d27, #b31217) !important;
    box-shadow: 0 5px 15px rgba(179, 18, 23, 0.4) !important;
}

/* Garante que o texto dentro do botão não tenha sublinhado e seja branco */
[data-testid="stSidebar"] div.stButton > button p {
    font-size: 14px !important;
    font-weight: 600 !important;
    margin: 0 !important;
    color: white !important;
}
